
snippet mb "Math block"
$$
$1
$$

$2
endsnippet

snippet mi "Math inline"
$$ {1}$ $2
endsnippet

snippet int "Integral"
\int{$1} $2
endsnippet

snippet frac "Fraction"
\frac{$1}{$2} $3
endsnippet


snippet ci "Callout Info"
> [!INFO] $1  
> $2

$3
endsnippet

snippet bl "block"
\begin{$1}
	$2
\end{$1}

$3
endsnippet
