
snippet pf "Proof" bA 
\pf{$1}~{
	$2
}

endsnippet

snippet ex "Example" bA
\ex{$1}{
	$2
}

endsnippet

snippet qs "Question" bA
\qs{$1}{
	$2
}

endsnippet

snippet df "Definition" bA
\df{$1}{
	$2
}

endsnippet


snippet nt "Note" bA
\nt{
	$1
}

endsnippet

snippet theo "Theorem" bA
\thm{$1}{
	$2
}

endsnippet

snippet par "Paragraph" bA
\paragraph{$1}
$2
endsnippet

snippet sol "solution" bA
\sol{$1}{
	$2
}

endsnippet
